<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498573691482-89tj1bllobqr4m8mnhkehi327bf6e04f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498573691482-89tj1bllobqr4m8mnhkehi327bf6e04f</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>498573691482-shp5oudjsikihhbf1kepguu5i90omvfk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCje08VTi57IVsizn48ZzJQhafsqMmv5mU</string>
	<key>GCM_SENDER_ID</key>
	<string>498573691482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tvunlimited.hsbenhan</string>
	<key>PROJECT_ID</key>
	<string>avian-principle-724</string>
	<key>STORAGE_BUCKET</key>
	<string>avian-principle-724.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498573691482:ios:6d0f9999883beffe4b6663</string>
	<key>DATABASE_URL</key>
	<string>https://avian-principle-724.firebaseio.com</string>
</dict>
</plist>